{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <title>{% block title %}Welcome!{% endblock %}</title>#}
{#        {% block stylesheets %}{% endblock %}#}
{#    </head>#}
{#    <body>#}
{#        a#}
{#        {% block javascripts %}{% endblock %}#}
{#    </body>#}
{#</html>#}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
{#        {{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="/assets/css/app.css"
    {% endblock %}
</head>
<body>
<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a id="HotelsBtn" href="#">HOTELS</a>
            </li>
            <li>
                <a id="Homelink" href="#"><i class="fas fa-home"></i> HOME</a>
            </li>
            <li>
                <a id="ProfileBtn" href="#"><i class="fas fa-user"></i> PROFILE</a>
            </li>
            <li>
                <a id="SignOutBtn" href="#"><i class="fas fa-sign-out-alt"></i> SIGNOUT</a>
            </li>
        </ul>
    </nav>

</header>
<nav class="navbar navbar-light bg-light" style="height: 100px;">
    <a class="navbar-brand" href="#">
        <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
        <p class="pl-2 d-inline font-weight-bold" style="color: #444;">Cauldron Overflow</p>
    </a>
</nav>

{% block body %}{% endblock %}
<footer>
    <ul>
        <li>
            <a href="javascript:void(0);">Contact</a>
        </li>
        <li>
            <a href="javascript:void(0);"></i> About</a>
        </li>
        <li>
            <a href="javascript:void(0);"></i> Careers</a>
        </li>
        <li>
            <a href="javascript:void(0);"></i> Terms & Conditions</a>
        </li>
    </ul>
</footer>
{#{% block javascripts %}#}
{#    {{ encore_entry_link_tags('app') }}#}
{#{% endblock %}#}
</body>
</html>
